<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fitagotchi</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DynaPuff&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="h-100 d-flex flex-column justify-content-center align-items-center bg-warning text-center" style="margin: 0; padding: 20px 20px 60px;">
  <form method="post" action="/signout" style="position: fixed; top: 20px; right: 20px; z-index: 1;">
    <button type="submit" class="btn btn-outline-dark"><i class="fa-solid fa-person-running"></i></button>
  </form>
  <p style="max-width: 400px;">{{ quote }}</p>
  <div class="border border-dark rounded bg-white" style="max-width: 400px; padding: 20px;">
    <div>
      <h2 style="font-family: 'DynaPuff', sans-serif;">Fitness</h2>
      <img src="/static/exercising.gif" alt="" class="img-fluid" style="max-width: 50%;">
      <div class="mb-3">
        <p class="lead">Your daily workout:</p>
      </div>
      <div>
        {% for exercise in exercises %}
          <p>
            {{ exercise['name'] }}<br>
            <small>{{ exercise['category'] }}</small>
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
  <nav style="position: fixed; bottom: 20px; left: 20px; right: 20px;">
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a href="/profile" class="btn btn-outline-dark d-block me-2">Profile</a>
      </li>
      <li class="nav-item">
        <a href="/recipes" class="btn btn-outline-dark d-block mx-2">Recipes</a>
      </li>
      <li class="nav-item">
        <a href="/fitness" class="btn btn-dark d-block ms-2">Fitness</a>
      </li>
    </ul>
  </nav>
</body>
</html>
